.container {
    height: 12.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--gray-700);
}

.container .logo {
    max-width: 8rem;
    max-height: 3rem;
}